/* Reading Page Styles */

/* Reading Grid */
.grid {
    align-content: start;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: start;
    gap: 1.5rem;
    margin: var(--baseline) 0;
    line-height: 1.25;
    max-width: var(--max-width);
}

@media screen and (max-width: 48rem) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.25rem;
    }
}

@media screen and (max-width: 30rem) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

/* Book Links */
.reading a {
    text-decoration: none;
}

.reading a:hover {
    text-decoration: none;
    background-color: #eff6ff;
}

.grid a {
    text-decoration: none;
    border-bottom: none;
   background-color: #fff;
    display: block;
}

.grid a:hover {
    text-decoration: none;
}

.grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 0 0.5rem 0;
}



/* Typography */
.meta {
    display: block;
    color: var(--theme-ui-colors-text);
    margin-top: -1rem;
    margin-bottom: 1rem;
    opacity: 0.7;
}

/* Mobile Styles */
@media screen and (max-width: 30rem) {
    .meta {
        font-size: 0.8rem;
    }
}
